.container {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    to right,
    #2e7f3e 0%,
    white 30%,
    white 70%,
    #2e7f3e 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #000000b2;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
}

.header h1 {
  text-align: center;
  font-size: 32px;
}

@media (max-width: 768px) {
  .header {
    gap: 20px;
    padding: 10px;
  }

  .header h1 {
    font-size: 24px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin-block-start: 150px;
  max-width: 700px;
  height: auto;
  padding: 40px;
}

.input {
  height: 45px;
  border: 1px solid #2e7f3e;
  border-radius: 5px;
  padding: 15px;
  font-size: 22px;
}

.btn {
  height: 55px;
  text-align: center;
  cursor: pointer;
  background-color: #2e7f3e;
  border-radius: 25px;
  color: white;
  border: none;
  font-size: 20px;
}
