name: Frontend CI

on:
  workflow_call:

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set SHORT_SHA
        run: |
          echo SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7) >> $GITHUB_ENV

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.ACCESS_NAME }}
          password: ${{ secrets.ACCESS_TOKEN }}

      - name: Build and Push Frontend Image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ secrets.ACCESS_NAME }}/frontend-app:${{ vars.TAG_VERSION }}.${{ env.SHORT_SHA }}
