name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres_test
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        pipx install poetry==1.7.0
        poetry env use 3.12
        poetry install --with test
    - name: Test
      env:
        DB_HOST: localhost
        DB_PORT: 5432
        DB_USER: postgres  # Используем того же пользователя, что и в сервисе
        DB_PASSWORD: postgres
        DB_NAME: postgres  # Основная БД (но тесты будут использовать _test)
      run: |
        poetry run pytest -v